#hiddenWord {
  color: red;
  font-size: 1.5rem;
  display: none;
}
img {
  border: 15px solid rgba(92, 0, 83);
  padding: 3px;
  border-radius: 4%;
  width: 400px;
  height: 400px;
}
#container {
  text-align: center;
  margin: 0 auto;
  font-size: 1rem;
  padding: 2%;
}
h1 {
  text-align: center;
}
.rules {
  background-color: #963406;
  padding: 1%;
  width: 35%;
  margin: 3% auto;
  font-weight: bold;
  border-radius: 0.6rem;
}
#start {
  margin-bottom: 2%;
}
#rules-title {
  color: black;
  margin: 0;
}
.rules-content {
  display: none;
}
#rules-title:hover {
  color: white;
}
#typingResult {
  font-weight: bold;
}
#typedWord {
  margin-top: 2%;
  border: 1.5px solid #0d39a8;
  outline: none;
  width: 46%;
  border-radius: 0.4rem;
  padding: 5px;
  font-size: 1.2rem;
}
#typedWord:focus {
  border: 3px solid black;
}
.info {
  margin: 1%;
  font-size: 1.3rem;
}
.show {
  display: block;
}
